Repository Bistard/nota, pull requests merged in 2025-02, with the labels that each got.

#256 Dev hoverbox
  src/base/browser/basic/contextMenu/contextMenu.ts
  src/base/browser/basic/dom.ts
  src/base/browser/basic/hoverBox/hoverBox.scss
  src/base/browser/basic/hoverBox/hoverBox.ts
  src/base/common/error.ts
  src/base/common/undoRedo.ts
  src/base/common/utilities/object.ts
  src/base/common/utilities/observable.ts
  src/base/common/utilities/size.ts
  src/base/common/utilities/type.ts
  src/platform/configuration/common/configurationModules/defaultConfiguration.ts
  src/platform/window/electron/mainWindowService.ts
  src/platform/window/electron/windowInstance.ts
  src/workbench/services/fileTree/fileTree.ts
  src/workbench/services/fileTree/fileTreeService.ts
  src/workbench/services/theme/themeService.ts
  test/base/common/utilities/object.test.ts
  test/base/common/utilities/observable.test.ts
Labels: new feature, UI

#264 dev-ai
  package-lock.json
  package.json
  src/base/common/error.ts
  src/base/common/json.ts
  src/base/common/utilities/panic.ts
  src/base/common/utilities/type.ts
  src/code/browser/browser.ts
  src/code/browser/inspector/inspectorItemRenderer.ts
  src/code/browser/inspector/inspectorTree.ts
  src/code/browser/inspector/renderer.inspector.ts
  src/code/browser/renderer.desktop.ts
  src/code/electron/app.ts
  src/code/electron/main.ts
  src/platform/ai/common/ai.ts
  src/platform/ai/common/aiModel.register.ts
  src/platform/ai/common/aiText.ts
  src/platform/ai/common/aiTextChannel.ts
  src/platform/ai/electron/GPTModel.ts
  src/platform/ai/electron/aiModelRegistrant.ts
  src/platform/ai/electron/deepSeekModel.ts
  src/platform/ai/electron/gptModel.ts
  src/platform/ai/electron/llmModel.ts
  src/platform/ai/electron/mainAITextService.ts
  src/platform/ai/electron/openAIModel.ts
  src/platform/ai/electron/textAI.ts
  src/platform/configuration/common/configurationRegistrant.ts
  src/platform/encryption/common/encryptionService.ts
  src/platform/encryption/electron/mainEncryptionService.ts
  src/platform/ipc/common/channel.ts
  src/platform/ipc/common/net.ts
  src/platform/ipc/common/proxy.ts
  src/platform/logger/common/prettyLog.ts
  src/platform/registrant/common/registrant.ts
  src/platform/status/common/status.ts
  src/workbench/contrib/richTextEditor/editorPane.register.ts
  src/workbench/services/editorPane/editorPaneDescriptor.ts
  src/workbench/services/editorPane/editorPaneModel.ts
  src/workbench/services/editorPane/editorPaneRegistrant.ts
  src/workbench/services/workbench/configuration.register.ts
  test/base/common/utilities/type.test.ts
  test/code/platform/net.test.ts
Labels: core, refactor, main process, renderer process, AI

#266 dev-RichTextView
  src/editor/common/view.ts
  src/editor/editorWidget.ts
  src/editor/view/editorView.ts
  src/editor/view/editorViewProxy.ts
  src/editor/view/media/editor/richTextView.scss
  src/editor/view/proseEventBroadcaster.ts
  src/editor/view/richTextView.ts
  src/editor/view/richtextEditor.ts
Labels: enhancement, refactor, editor

#272 AskAI extension
  assets/locale/en.json
  assets/locale/zh-cn.json
  src/base/common/event.ts
  src/base/common/keyboard.ts
  src/editor/common/editorExtension.ts
  src/editor/common/model.ts
  src/editor/common/proseMirror.ts
  src/editor/common/proseUtility.ts
  src/editor/common/range.ts
  src/editor/common/view.ts
  src/editor/common/viewModel.ts
  src/editor/contrib/askAI/askAI.ts
  src/editor/contrib/autoSave.ts
  src/editor/contrib/blockHandle/blockHandle.scss
  src/editor/contrib/blockHandle/blockHandle.ts
  src/editor/contrib/blockPlaceHolder/blockPlaceHolder.scss
  src/editor/contrib/blockPlaceHolder/blockPlaceHolder.ts
  src/editor/contrib/builtInExtensionList.ts
  src/editor/contrib/command/command.ts
  src/editor/contrib/command/editorCommands.ts
  src/editor/contrib/dragAndDrop/dragAndDrop.scss
  src/editor/contrib/dragAndDrop/dragAndDrop.ts
  src/editor/contrib/dragAndDrop/dropBlinkRenderer.scss
  src/editor/contrib/dragAndDrop/dropBlinkRenderer.ts
  src/editor/contrib/dragAndDrop/dropCursorRenderer.ts
  src/editor/contrib/dragAndDrop/scrollOnEdgeController.ts
  src/editor/contrib/history/history.ts
  src/editor/contrib/inputRuleExtension/editorInputRules.ts
  src/editor/contrib/slashCommand/slashCommand.ts
  src/editor/contrib/snippet/snippet.contrib.ts
  src/editor/contrib/snippet/snippet.ts
  src/editor/contrib/snippet/snippetRule.ts
  src/editor/editorWidget.ts
  src/editor/model/documentNode/documentNode.ts
  src/editor/model/documentNode/documentNodeProvider.ts
  src/editor/model/documentNode/mark/mathInline.ts
  src/editor/model/documentNode/node/blockquote.ts
  src/editor/model/documentNode/node/codeBlock/codeBlock.ts
  src/editor/model/documentNode/node/list.ts
  src/editor/model/documentNode/node/mathBlock.ts
  src/editor/model/documentNode/node/paragraph.ts
  src/editor/model/documentNode/node/space.ts
  src/editor/model/editorModel.ts
  src/editor/model/parser.ts
  src/editor/model/serializer.ts
  src/editor/view/editorView.ts
  src/editor/view/inputEmulator.ts
  src/editor/view/media/richTextView.scss
  src/editor/view/richTextView.ts
  src/editor/view/widget/palette/askAIProvider.ts
  src/editor/view/widget/palette/blockInsertProvider.ts
  src/editor/view/widget/palette/palette.scss
  src/editor/view/widget/palette/palette.ts
  src/editor/viewModel/editorViewModel.ts
  src/workbench/services/contextMenu/contextMenuService.ts
  test/editor/contrib/editorCommands.test.ts
Labels: core, new feature, editor, AI

#274 list-related commands to the editor
  src/base/common/utilities/type.ts
  src/editor/common/editorContextKeys.ts
  src/editor/common/proseMirror.ts
  src/editor/contrib/command/command.contrib.ts
  src/editor/contrib/command/command.ts
  src/editor/contrib/command/commandList.contrib.ts
  src/editor/contrib/command/editorCommand.ts
  src/editor/view/editorView.ts
  src/platform/command/common/command.ts
  src/workbench/services/shortcut/shortcutRegistrant.ts
  src/workbench/services/shortcut/shortcutService.ts
  test/code/browser/workbench/services/shortcutRegistrant.test.ts
  test/code/browser/workbench/services/shortcutService.test.ts
  test/editor/contrib/editorCommands.test.ts
Labels: enhancement, refactor, editor

#276 Deprecates `EditorCommandExtension`
  src/base/common/keyboard.ts
  src/code/browser/renderer.desktop.ts
  src/editor/common/editorContextKeys.ts
  src/editor/contrib/builtInExtensionList.ts
  src/editor/contrib/command/command.contrib.ts
  src/editor/contrib/command/command.register.ts
  src/editor/contrib/command/command.ts
  src/editor/contrib/command/editorCommand.ts
  src/editor/contrib/command/listCommand.contrib.ts
  src/editor/editorWidget.ts
  src/platform/registrant/common/registrant.ts
  src/workbench/services/editor/editor.ts
  src/workbench/services/editor/editorService.ts
  test/base/common/keyboard.test.ts
  test/editor/contrib/editorCommands.test.ts
Labels: enhancement, core, refactor, editor
